[Unit]
Description=NanoSound LIRC Service

[Service]
ExecStart=/home/pi/Nanomesher_NanoSound_moode/nanosound_moode/nanodac_lirc.py
StandardOutput=null

[Install]
WantedBy=multi-user.target
Alias=nanosound_lirc.service
